/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .image_field { 
 	text-align: center;
 }

.image_field input {
	text-align: center;
}

.jumbotron {
	opacity: 0.6%;
	width: 1000px;
	margin-left: auto;
	margin-right:auto;
	color: red;
	font-size: 90%;
	background-color: transparent;
	
}
 .special { 
 	font-style: italic;
 }

table {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}


table {
	border: 1px solid black;
	border-collapse: collapse;
	background-color: black;
	color: white;
	opacity: 1.0;
}


th {
	height: 40px;
	background-color: transparent;
	color: gold;
	font-size: 20px;
	text-align: center;
	border: 1px solid black;
}

td { 
	text-align: center;
	padding: 5px;
	font-family: Apple Symbols;
	font-size: 15px;
	color: gold; 

	}

h1 {
	text-align:center;
	padding: 10px;
	font-family: Jazz LET;
	font-size: 80px;
	color: orange;

}
/*
.navbar a:link, .navbar a:visited, .navbar a:hover, .navbar a:active {
	text-decoration:none; 
	font-size: 25px;
	color: gold
	background-color: transparent; 
}*/

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	font-size: 15px;
	color: gold;
	background-color: transparent;
}

.navbar2 {
	width:300px;
	margin-left:auto;
	margin-right: auto;
	padding: 20px;
	color: gold;
}

.navbar2 a {
	color: orange;
}

p {
	text-align:center;
	padding: 5px;
	font-family: Copperplate;
	font-size: 15px;
	color: orange;

}

body {
	background-image: url("cowz.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: fixed;
	background-size: 1500px;
	padding: 100px;
}

.field input {
	font-family: courier;
	font-size: 15px;
	text-align: center;
	width: 250px;
}

.actions {
text-align: center; 
}

